body {
   /* background-color: #fff; */
    /*background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;*/
    background-color: rgba(0, 0, 0, 0.75);
}

html { 
  /*background: url(../images/comp.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.bg {
      /* Set rules to fill background */
      min-height: 100%;
      min-width: 1024px;
      
      /* Set up proportionate scaling */
      width: 100%;
      height: auto;
      
      /* Set up positioning */
      position: fixed;
      top: 0;
      left: 0;
    }
    
    @media screen and (max-width: 1024px){
      img.bg {
        left: 50%;
        margin-left: -512px; }
    }
    
    #page-wrap { position: relative; width: 400px; margin: 50px auto; padding: 20px; background: white; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
    p { font: 15px/2 Georgia, Serif; margin: 0 0 30px 0; text-indent: 40px; }


.bg.second{
	opacity: 0.2;
}

#tvids {
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    text-align: center;
}

#results { 
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 5px solid #ABCED4;
}


#response {
    display: none;
}

.jumbotron {
  padding: 5px 5px;
  margin-bottom: 3px;
  color: inherit;
  background-color: #fff;
}

#title {
	text-align: center;
}

h2{
  color: #AFFC41;
  background-color:rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

h1{
  color: #AFFC41;
  background-color:rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin: 0px 0 0 0px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 14s;
}

.row {
  margin-right: auto;
  margin-left: auto;
}

.col-md-4 {
    /*border-style: groove;*/
}

.empty {
  padding: 0px; 
  width: 0px; 
  border: none;
}

.notempty{
  min-height: 528px;
}

p.typewriter{
	font-family: 'Press Start 2P', cursive;
	color:#4dff4d;
	letter-spacing: 2.5px;
	text-transform: capitalize;
	font-size: 1.4em; 
	color: transparent;
   	text-shadow: 0 0 2px rgba(0, 255, 14, 1);
}


/*animation*/

/*.box {
/*    width: 100px;
    height: 100px;*/
    background-color: red;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 14s;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:red; width:0px; top:0px;}
    25%  {background-color:yellow; width:200px; top:0px;}
    50%  {background-color:blue; width:200px; top:200px;}
    75%  {background-color:green; width:0px; top:200px;}
    100% {background-color:red; width:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; width:0%;}/*
    25%  {background-color:yellow; width:25%;}
    50%  {background-color:blue; width:50%;}
    75%  {background-color:green; width:75%;}*/
    100% {background-color:red; width:100%;}
}*/
